html,
body {
    height: 100%;
    background-color: #F1F2F2;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 15px 15px 20px;
}

a {
    color: #337ab7;
}
a.logo {
    text-decoration: none!important;
}
a:hover, a:focus {
    color: #337ab7;
}
.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #347FB3;
    background-color: #fff;
}

.navbar .navbar-nav > li > a > span {
    border-bottom: 2px solid transparent;
}
.navbar .navbar-nav > li.active > a > span {
    border-bottom-color: #2977af;
}
.navbar .navbar-nav > li:hover > a > span {
    border-bottom-color: #2977af;
}
nav > .container {
    width: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.badge-cart{
    position: absolute;
    top: -10px;
    /*right: -15px;*/
    background-color: red;
    padding: 3px 5px;
}
.cart-100 {
    right: -30px;
}
.cart-10 {
    right: -23px;
}
.cart-1 {
    right: -15px;
}
.cart-cost-100 {
    margin-left: 34px;
}
.cart-cost-10 {
    margin-left: 27px;
}
.cart-cost-1 {
    margin-left: 20px;
}
